<div class="row">
    <!-- [ basic-table ] start -->
  
    <div class="col-md-12">
      <app-card cardTitle="Фильтр событий" [options]="false">
        <form action="">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Тип</label>
                <select class="form-control"  id="exampleFormControlSelect1">
                  <option *ngFor = "let t of filterType">{{t}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Уровень</label>
                <select class="form-control"  id="exampleFormControlSelect1">
                  <option *ngFor = "let t of filterType">{{t}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Пользователь</label>
                <select class="form-control"  id="exampleFormControlSelect1">
                  <option *ngFor = "let t of filterType">{{t}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  
    <ng-container >
      <div class="col-md-12">
        <app-card cardTitle="События" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Событие</th>
                <th>Пользователь</th>
                <th>Объект</th>
                <th>Дата</th>
              </tr>
              </thead>
              <tbody>
  
              <ng-container *ngFor="let e of events | eventfilter:currentFilter; index as i">
                <tr>
                  
                  <td>{{i + 1}}</td>
                  <td>{{e.action}}</td>
                  <td>{{getUser(e.user_id).fio}} [{{e.user_id}}]</td>
                  <td>{{getObj(e.type,e)}}</td>
                  <td>{{e.date}}</td>
                  <td>{{e.date}}</td>
                </tr>
              </ng-container>
  
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
    </ng-container>
   
    <!-- [ Background-Utilities ] end -->
  </div>
  