<div class="row">
  
    <ng-container *ngFor="let d of departaments">
      <div class="col-md-12">
        <app-card [cardTitle]="d.NameDepart" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Допуск</th>
              </tr>
              </thead>
              <tbody>
  
              <ng-container *ngFor="let u of users">
                <tr *ngIf="u.idDepartament == d.idDepart">
                    <td>{{u.idUser}}</td>
                    <td>{{u.fio}}</td>
                    <td>{{u.Position}}</td>
                    <td>{{u.idRules}}</td>
                </tr>
              </ng-container>
  
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
    </ng-container>
   
  </div>
  