<div class="row">
  <!-- [ basic-table ] start -->

  <div class="col-md-12">
    <app-card cardTitle="Фильтр событий" [options]="false">
      <form action="">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Отдел</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </app-card>
  </div>

  <ng-container *ngFor="let d of departaments">
    <div class="col-md-6">
      <app-card [cardTitle]="d.NameDepart" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>ФИО</th>
              <th>Должность</th>
              <th>Допуск</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>

            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </ng-container>
 
  <!-- [ Background-Utilities ] end -->
</div>
