<div class="navbar-wrapper" >
  <perfect-scrollbar  id="nav-ps-gradient-able" ngClass="gradientscroll" [style.max-width]="'300px'" [style.max-height]="'calc(100vh - 56px)'">
    <div class="navbar-content">
      <ul class="nav pcoded-inner-navbar" >
      
        <ng-container *ngFor="let item of navigation">
          <ng-container *ngIf="!item.hidden">
            <li class="nav-item pcoded-menu-caption"><label>{{item.title}}</label></li>
            <ng-container *ngFor="let item of item.children">
              <li [ngClass]="item.classes"  [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="[item.url]" >
                  <span *ngIf="item.icon" class="pcoded-micon"><i class="feather" [ngClass]="item.icon"></i></span>
                  <span class="pcoded-mtext" >{{ item.title }}</span>
                </a>
              </li>
            </ng-container>
          </ng-container>
          
        </ng-container>
      </ul>
    </div>
  </perfect-scrollbar>
</div>

